<meta_metadata_repository name="springer_article" 
package="ecologylab.bigsemantics.generated.library.springerarticle" default_user_agent="chrome">	

	<cookie_processing domain="link.springer.com" ignore_all_cookies="true" />
	
	<meta_metadata name="springer_article" extends="springer_book" comment="An article or any other text heavy component in Springer Link." parser="xpath">
 		
 		<selector url_path_tree="http://link.springer.com/article"/>
 		<selector url_path_tree="http://link.springer.com/referenceworkentry"/>
 		<selector url_path_tree="http://link.springer.com/chapter"/>
 		
 	 	<example url="http://link.springer.com/article/10.1007/s40692-014-0013-y"/>
 	 	<example url="http://link.springer.com/chapter/10.1007/978-3-319-09858-6_1"/>
 	 	<example url="http://link.springer.com/referenceworkentry/10.1007/978-3-642-22647-2_100365"/>
 	 		
	    
	    
      	<scalar name="pages" scalar_type="String">
	      <xpath>//span[@id="page-range"]/text()</xpath>
	    </scalar>
	    
		<scalar name="online_date" scalar_type="String">
			<xpath>//span[@class="online-date"]/text()</xpath>
		</scalar>
		
		
      	<collection name="authors">
	      <xpath>//*[@id="kb-nav--main"]/div[3]/ul/li/a</xpath>
	      <scalar name="title">
	      	<xpath>./text()</xpath>
	      </scalar>
	      <scalar name="location">
	        <xpath>./@href</xpath>
	      </scalar>
	    </collection>
	    
	    
      	<collection name="editors">
	      <xpath>//*[@class="editors"]/li/a</xpath>
	      <scalar name="title">
	      	<xpath>./text()</xpath>
	      </scalar>
	      <scalar name="location">
	        <xpath>./@href</xpath>
	      </scalar>
	    </collection>
	    
	    
      	<collection name="author_affiliations" child_scalar_type="String">
	      <xpath>//*[@id="abstract-about"]/div[2]/div/div/dl[3]/dd[4]/ul/li</xpath>
	    </collection>
	    
		<composite name="publication_title" type="springer_book">
	      <xpath>//div[@id='publication-title']/a</xpath>
	      <scalar name="title">
	      	<xpath>./text()</xpath>
	      </scalar>
	      <scalar name="location">
	        <xpath>./@href</xpath>
	      </scalar>
		</composite>
		
	    
      	<collection name="keywords" child_scalar_type="String">
	      <xpath>//*[@id="abstract-about-keywords"]/ul/li/text()</xpath>
	    </collection>

		<composite name="series_title" type="springer_search">
	      <xpath>//*[@id="series-title"]</xpath>
	      <scalar name="title">
	      	<xpath>./text()</xpath>
	      </scalar>

	      <scalar name="location">
	        <xpath>./@href</xpath>
	      </scalar>
		</composite>

		<collection name="industry_sectors" child_type="rich_document">
			<xpath>//*[@class="abstract-about-industrysectors"]/li/a</xpath>
			
		      <scalar name="title">
		      	<xpath>./text()</xpath>
		      </scalar>
	
		      <scalar name="location">
		        <xpath>./@href</xpath>
		      </scalar>
		</collection>
		


		<collection name="references" child_type="rich_document">
			<xpath>//*[@id="abstract-references"]/div[2]/div/div/ol/li</xpath>
			
		      <scalar name="title">
		      	<xpath>./span/text()</xpath>
		      </scalar>
	
		      <scalar name="location">
		        <xpath>./a/@href</xpath>
		      </scalar>
		</collection>
		
	</meta_metadata>
</meta_metadata_repository>


